<div>
  <div class="inline first">
    <div *ngIf="plantaList; else semPlantas" class="scrollable">
      <div *ngFor="let planta of plantaList">
        <app-itens
          [planta]="planta"
        ></app-itens>
      </div>
    </div>
    <div>
      <ng-template #semPlantas>
        <h2>Não há plantas a serem apresentadas</h2>
      </ng-template>
    </div>
    <div>
      <button type="button" class="round-button" (click)="createNewPlanta()">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
  <div class="inline">
    <router-outlet></router-outlet>
  </div>
</div>
