input[type="text"] {
  background-color: #d9ebd9;
  border: 0;
  border-bottom: 2px solid #9cda9c;
  margin: 8px 4px;
  padding: 8px;
  outline: none;
  font: inherit;
  &:invalid {
    border-bottom: 2px solid rgb(167, 60, 28);
  }

  &:focus {
    border-bottom: 2px solid rgb(80, 151, 80);
  }

  &:disabled {
    border-bottom: 2px dashed #9cda9c;
  }
}
